@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nanum+Myeongjo&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    letter-spacing: -.03em;
    font-size: 1.7rem;
    color: #fb5a32;
}
html, body{
    background-color: #0f0f0f;
}
main{
    position: fixed; /* 스크롤바 제거 */
    top: 0; left: 0;
    width: 100%; height: 100%;
}
h3{
    position: absolute;
    right: .5rem; bottom: .5rem;
}
.scrollable{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    /* border: 5px solid red; */
    will-change: transform; /* translate 으로 이동할 요소라는 의미 */
}
section{
    /* border: 1px solid blue; */
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    min-height: 80vh;
}
.container{
    /* border: 1px solid red; */
    position: relative;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 10px;
}
.image_wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.image_wrapper:nth-child(1){
    grid-column: span 5; /* 첫번째 컬럼부터 5개 컬럼 차지 */
}
.image_wrapper:nth-child(2){
    grid-column: 6 / span 7; /* 6번째 컬럼부터 시작해서 7개의 컬럼 차지 */
    grid-row: 2; /* 2번째 행부터 시작 */
}
.image_wrapper:nth-child(3){
    grid-column: span 6; /* 6번째 컬럼부터 시작해서 7개의 컬럼 차지 */
    grid-row: 3; /* 2번째 행부터 시작 */
}
img{
    width: 100%;
    height: 140%;
    object-fit: cover;
    object-position: center;
    top: -20%;
    filter: grayscale(100%);
    clip-path: polygon(40% 40%, 60% 40%, 60% 60%, 40% 60%); /* 사진을 다각형만큼 자름 */
    will-change: transform, clip-path;
}